<div class="block widget group block-events last">
    <h3>Yaklaşan Etkinlikler</h3>
    <div class="events-container">
        <ul id="locations">
            <li class="vevent">
                <a href="#" data-lat="36.114646" data-long="-115.172816" title="" class="url">
                    <time class="dtstart" datetime="2011-12-14 21:00" title="2011-12-14 21:00">
                        December 14th 2012, 21:00
                    </time>
                    <h4 class="summary">Rome, Italy, NV</h4>
                    <b class="location">SounDrome</b>
                </a>
            </li>
            <li class="vevent">
                <a href="#" data-lat="42.331427" data-long="-83.0457538" title="" class="url">
                    <time class="dtstart" datetime="2011-12-14 21:00" title="2011-12-14 21:00">
                        November 14th 2012, 21:00
                    </time>
                    <h4 class="summary">Gunzgen, Switzerland</h4>
                    <b class="location">Motion Openair Dance Festival</b>
                </a>
            </li>
            <li class="vevent">
                <a href="#" data-lat="40.71345921854647" data-long="-73.99006605148315" title="" class="url">
                    <time class="dtstart" datetime="2011-12-14 21:00" title="2011-12-14 21:00">
                        August 14th 2012, 21:00
                    </time>
                    <h4 class="summary">Ibiza, Spain</h4>
                    <b class="location">Pacha Ibiza</b>
                </a>
            </li>
            <li class="vevent">
                <a href="#" data-lat="75.71345921854647" data-long="-11.99006605148315" title="" class="url">
                    <time class="dtstart" datetime="2011-12-14 21:00" title="2011-12-14 21:00">
                        July 14th 2011, 21:00
                    </time>
                    <h4 class="summary">Ottawa, Canada</h4>
                    <b class="location">Ottawa Bluesfest</b>
                </a>
            </li>
            <li class="vevent">
                <a href="#" data-lat="36.114646" data-long="-115.172816" title="" class="url">
                    <time class="dtstart" datetime="2011-12-14 21:00" title="2011-12-14 21:00">
                        December 14th 2012, 21:00
                    </time>
                    <h4 class="summary">Rome, Italy, NV</h4>
                    <b class="location">SounDrome</b>
                </a>
            </li>
            <li class="vevent">
                <a href="#" data-lat="42.331427" data-long="-83.0457538" title="" class="url">
                    <time class="dtstart" datetime="2011-12-14 21:00" title="2011-12-14 21:00">
                        November 14th 2012, 21:00
                    </time>
                    <h4 class="summary">Gunzgen, Switzerland</h4>
                    <b class="location">Motion Openair Dance Festival</b>
                </a>
            </li>
            <li class="vevent">
                <a href="#" data-lat="40.71345921854647" data-long="-73.99006605148315" title="" class="url">
                    <time class="dtstart" datetime="2011-12-14 21:00" title="2011-12-14 21:00">
                        August 14th 2012, 21:00
                    </time>
                    <h4 class="summary">Ibiza, Spain</h4>
                    <b class="location">Pacha Ibiza</b>
                </a>
            </li>
            <li class="vevent">
                <a href="#" data-lat="75.71345921854647" data-long="-11.99006605148315" title="" class="url">
                    <time class="dtstart" datetime="2011-12-14 21:00" title="2011-12-14 21:00">
                        July 14th 2011, 21:00
                    </time>
                    <h4 class="summary">Ottawa, Canada</h4>
                    <b class="location">Ottawa Bluesfest</b>
                </a>
            </li>
        </ul>
        <ul class="event-nav">
            <li><a href="#" class="up">Up</a></li>
            <li><a href="#" class="down">Down</a></li>
        </ul>
    </div>
    <!-- .events -->
</div>